html {
  font-size: 62.5%;
}
*,
*:after,
*::before {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

a {
  text-decoration: none !important;
  color: inherit;
  transition: all 0.2s ease-in-out 0s;
}
a:hover {
  text-decoration: none !important;
  color: inherit;
}
ol,
ul {
  list-style: none;
  margin: 0;
}
img {
  max-width: 100%;
  object-fit: cover;
  vertical-align: middle;
}

body {
  line-height: normal;
  font-weight: 400;
  font-size: 1.4rem;
  color: $black;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth !important;
  letter-spacing: normal;
}

.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: $black;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  background-color: $primary-color;
}

.btn-style1 {
  padding: 10px 30px;
  border-radius: 50px;
  color: $white;
  font-size: 14px;
  font-weight: 600;
  border: 2px solid $primary-color;
}

.btn-style1 {
  &:hover {
    background-color: transparent;
    color: $primary-color;
  }
}
